<!-- Login form created as a template driven form -->
<div class="container container-styles">
	<div class="col-xs-10 col-xs-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading">About us</div>
			<div class="panel-body padding">
				<div style="font-size: 16px;font-weight: 600;">QR Code Based Learning</div>
				<marquee><img src="../../assets/imgs/qrCode.jpg" width="200px" height="170px"
						style="padding-bottom: 20px;">
				</marquee>
				<img src="../../assets/imgs/winners.PNG" height="170px" width="440px">
				<div class="form-group">
					<span class="col-xs-4"></span>
					<div class="col-xs-3">
						<button class="btn btn-primary">Developers Portal</button>
					</div>

				</div>
			</div>
			<div style="padding-bottom: 20px;"></div>
		</div>
	</div><div style="padding-bottom: 50px;"></div>
</div>

