<div class="container container-styles">
  <div class="panel panel-primary">
    <div class="panel-heading">Skills Set and Available Course Details</div>
    <div class="about-section">
      <div style="font-size: 14px;">
      <table id="myTable">
        <tr class="header">
          <th style="width:30%;">Skills</th>
          <th style="width:40%;">Available Course Details</th>
          <th style="width:45%;">Volunteer Contact details</th>
        </tr>
     
          <tr style="font-size: 14px;">
            <td >Teaching</td>
            <td>Training on home based teaching</td>
            <td>+91-9658236590</td>
          </tr>
          <tr style="font-size: 14px;">
            <td>Tailoring</td>
            <td>Training on Complex Tailoring Techniques</td>
            <td>+91-9683436590</td>
          </tr>
          <tr style="font-size: 14px;">
            <td>Communication Skills</td>
            <td>
              <ul>
                <li>Customer Support Executives</li>
                <li>Career Consultants</li>
                <li>Home Based Social Activists</li>
              </ul>
            </td>
            <td>+91-9658236590</td>
          </tr>

          <tr style="font-size: 14px;">
            <td>Arts and crafts</td>
            <td>Training on Handicrafts Making and promoting products</td>
            <td>+91-9658236590</td>
          </tr>
      
      </table>
    </div>
      <br />
      <div class="form-group">
        <span class="col-xs-4"></span>
        <span class="col-xs-5" style="top:8px">
          <a [routerLink]="['/welcome']" style="color:#337ab7;text-decoration: underline;">Home</a>
        </span>
      </div>
    </div>
  </div>
</div>