<div class="container container-styles">
    <div class="panel panel-primary">
        <marquee><img src="../../assets/imgs/we.PNG">
        </marquee>
        <div id="div1" class="title-styles" (click)="aboutus()">
            Sankofa Maternal</div>
        <div class="title-styles" style="font-size: 20px;">
            Connecting expecting mothers with care you can trust
        </div>
        <br>
        <div class="about-section">
            <h1 style="font-weight: 600;">Vision</h1>
            <p class="text-center text-styles" style="font-size: 25px">Our Vision is to empower women by strengthening their skills and make them modern Entrepreneurs which strengthen both their community and India.</p>
        </div>
    </div>
</div>
<div style="display: flex;flex-direction: row;">
    <div><img src="../../assets/imgs/deviceNo.PNG" style="padding-left:100px ;padding-top: 190px;">
    </div>
    <div style="height: 300px;width: 300px;"><i class="bi bi-chevron-compact-left"></i> </div>
</div>
<div style="display: flex;flex-direction: row;">
    <img src="../../assets/imgs/deserve.PNG" style="padding-left:470px ;padding-top: 50px;">
    <div style="height: 300px;width: 300px;"><i class="glyphicon glyphicon-chevron-left"></i> </div>
</div>
<img src="../../assets/imgs/fight.PNG" style="padding-left:100px ;padding-top: 50px;">
<div>
    <div style="padding-left: 480px;font-weight: 600;font-size: 40px; padding-top: 100px;">Winner of the Month<br>
        <div style="font-size: 12px;color: blueviolet;">Read More<i class="glyphicon glyphicon-chevron-right"></i></div>
    </div>
    <img src="../../assets/imgs/GitGot.PNG" style="padding-left:390px ;padding-top: 50px;padding-bottom: 100px;">
    <div style="color: blue;"> Read More ...</div>
</div>