<!-- Login form created as a template driven form -->
<div class="container container-styles">
	<div class="col-12">
		<div class="panel panel-primary">
			<div class="panel-heading"> DashBoard </div>
			<div class="panel-heading" style="float: right;" (click)="goToProgress()"> Profile </div>
			<div class="panel-body padding" style="display: flex;flex-direction: row;">

				<div class="btn-nav" style="padding-right:15px">
					<a id="login" class="btn btn-primary btn-small navbar-btn" (click)="goToProduct()">Products</a>
				</div>
				<div class="btn-nav" style="padding-right:15px">
					<a id="login" class="btn btn-primary btn-small navbar-btn" (click)="goToRe()">New
						Scheme</a>
				</div>

				<div class="btn-nav" style="padding-right:15px">
					<a id="login" class="btn btn-primary btn-small navbar-btn"
						(click)="goToOpp()">Oppportunities</a>
				</div>

				<div class="btn-nav" style="padding-right:15px">
					<a id="login" class="btn btn-primary btn-small navbar-btn" (click)="goToWork()">Workshops</a>
				</div>

			</div>
		</div>
	</div>
</div>
<img src='../../assets/imgs/volu.PNG' style="padding-top: 50px;padding-left: 70px;">