<form id="speech-form">
    <div class="ui card center">
        <!-- <div class="content">
            <div class="header">JavaScript Text To Speech</div>
        </div> -->
        <!-- <div class="content ui form ">
            <div class="col-xs-8">
                <input type="text" class="form-control" name="text" [(ngModel)]="textToRead" required>
            </div>
        </div> -->
        <div class="extra content">
            <button class="btn btn-primary" (click)="onSubmit()"> <span class="glyphicon glyphicon-volume-up"></span></button>
        </div>
       
    </div>
</form>

<!-- <form id="speech-form" class="ui form ui top attached label">
      <div class="field">
        <label>Text</label>
        <textarea id="input"></textarea>
      </div>
      <div class="field">
       <button>Speak</button>
      </div>
    </form> -->